.signin-form, .signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 30px;

  input {
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    font-size: 18px;
  }

  input[type='submit'] {

    background-color: #f50;
    border-color: #f50;
    color: white;
    text-align: center;
    font-weight: normal;
  }
}

.edit-form-input {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px #333 solid;
  border-radius: 5px;
}

.edit-form {
  display: flex;
}

.edit-form-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
 .demo-div {
   display: flex;
   justify-content: center;
   margin-top: 50px;
   border-bottom: 1px solid #e5e5e5;
 }

 .demo-btn {
   background: #f50;
   padding: 10px;
   margin-bottom: 30px;
   border-radius: 5px;
   color: #BFBFBF;

   &:hover {
     color: white;
   }
 }
