.full-navbar {
  background: #333;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  height: 46px;
  width: 80%;
  align-items: center;
  vertical-align: center;
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #999;
}

.left-navbar {
  display: flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  a {
    width: 100px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.right-border {
  border-right: 1px solid black;
}

.navbar-logo {
  height: 46px;
  width: auto;
}

.logged-out-btn {
  background: transparent;
  color: #eee;
}

.top-item {
  cursor: pointer;
  padding: 5px 15px;
  height: 46px;
  line-height: 46px;
  text-align: center;

  &:hover {
    color: #eee;
  }
}

.create-acc {
  background: #f50;
  height: 100%;
}

.search-bar {
  background-color: #e5e5e5;

}
