.extended-player {
  position: fixed;
  z-index: 10;
  bottom: 0;
  min-width: 900px;
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px #bfbfbf solid;
  border-bottom: 1px solid #bfbfbf;
  height: 46px;
}

.player {
  min-width: 900px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;

  button {
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
}

.player-track-detail {
  width: 30%;
  display: flex;
  align-items: center;
}

.player-img {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 8px;

  img {
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-user {
  color: #999;
  font-size: 10px;

  &:hover {
    color: black;
  }
}

.player-track {
  color: #666;
  font-size: 12px;

  &:hover {
    color: black;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

  span {
    font-size: 11px;

    &:first-child {
      color: #f50;
    }
  }
}

.clickable-bar {
  display: flex;
  align-items: center;
  width: 80%;
  height: 20px;
  margin: 0 10px;

  &:hover {
    cursor: pointer;
  }
}

#progress-bar {
  appearance: none;
 	-moz-appearance: none;
 	-webkit-appearance: none;

  border: none;

  background: #bfbfbf;
  color: #f50;

  width: 100%;
  height: 2px;
 }

 #progress-bar::-webkit-progress-value {
    background: #f50;
}
