.stream-main {
  padding: 30px;
}

.stream-navbar {
  border-bottom: 1px #e5e5e5 solid;
  font-size: 24px;

  h2 {
    display: inline;
    border-bottom: 1px #f50 solid;
    color: #f50;
  }
}

.stream-list {
  margin-top: 25px;
}
