.list-item {
  display: flex;
  margin-bottom: 36px;
}

.li-detail {
  display: flex;
  flex-direction: column;
}

.li-img {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-right: 15px;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
}
