.list-item {
  display: flex;
  margin-bottom: 36px;
}

.li-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.li-img {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-right: 15px;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
}

.detail-n-waveform {
  display: flex;
  flex-direction: column;
}

.btn-n-detail {
  display: flex;
}

.play-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #f50;
}

.tl-user {
  color: #999;
  font-size: 12px;
}
