.file-input {
  display: none;
}

.input-label {
  color: white;
  background: #f50;
  border: 1px #f50 solid;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.upload-main {
  input {
    margin: 20px;
  }

  label {
    margin: 20px;
    height: 30px;

  }
}
