<!DOCTYPE html>
<html>
  <head>
    <title>MusicLandApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/modal.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
